---
import { getCollection } from "astro:content"
// Components
import DefaultLayout from "@layouts/default.astro"
import HeroAlt from "@components/organisms/hero-alt.astro"
import Text from "@components/atoms/text.astro"
import Grid from "@components/organisms/grid.astro"
import ReposListItem from "@components/molecules/repos-list-item.astro"
import Button from "@components/atoms/button.astro"

const repos = await getCollection("repos")
---

<DefaultLayout
	explorer={false}
	seoTitle="Mes contributions open source"
	ogTitle="Mes contributions open source"
	ogDescription="Découvrez mes contributions à l'open source, des projets que j'ai développé et que 'j'utilise pour aider d'autres développeurs et contribuer à un web plus collaboratif et accessible."
	seoDescription="Découvrez mes contributions à l'open source, des projets que j'ai développé et que 'j'utilise pour aider d'autres développeurs et contribuer à un web plus collaboratif et accessible."
>
	<main id="main" data-transition="container">
		<HeroAlt title="Mes contributions open source">
			<Text variant="pmd" class=""
				>À côté de mes projets, j'essaie de partager certains de mes outils afin de participer à aider d'autres développeurs et ainsi rendre ma part au monde de l'open source
			</Text>
		</HeroAlt>
		<Grid class="mb-giant">
			<section class="col-span-full lg:col-start-3 lg:col-end-15 flex flex-col gap-y-sm">
				{repos.map((item) => <ReposListItem title={item.data.name} url={item.data.url} tags={item.data.tags} description={item.data.description} />)}
				<Button class="mt-md self-start" href="https://www.github.com/rohenha" icon="arrow" attributes={{ target: "_blank" }}> Voir mon github </Button>
			</section>
		</Grid>
	</main>
</DefaultLayout>
