---
// Content
import nav from "@content/nav"
// Tools
import { formatLink } from "@utils/helpers"
// Components
import Button from "@components/atoms/button.astro"
import Text from "@components/atoms/text.astro"
import Grid from "@components/organisms/grid.astro"

const currentPath = Astro.url.pathname
---

<footer class="o-footer bg-gray-900 text-gray-300 py-xxlg transition-fade">
	<Grid Tag="div">
		<nav
			class="col-span-full lg:col-span-12 flex flex-row flex-wrap gap-y-md lg:gap-x-xlg lg:gap-y-sm"
			aria-labelledby="footer-nav-label"
		>
			<span id="footer-nav-label" class="sr-only">Navigation complète</span>
			<ul
				role="list"
				class="w-[50%] md:w-[30%] lg:w-auto flex flex-col gap-xsm md:gap-tiny items-start"
			>
				<li class="relative -top-px">
					<a
						href="/"
						class="flex flex-row font-serif text-btn uppercase tracking-md font-700 gap-0 rounded-sm hover:text-green-700 focus:outline-2 focus:outline-green-700 focus:text-green-700 focus:outline-offset-1"
						data-transition="navLink"
					>
						R<span class="sr-only">omain</span> B<span class="sr-only">
							reton
						</span>
					</a>
				</li>
				{
					nav.footerPrimary.map((item) => (
						<li>
							{item.url ? (
								<Button
									attributes={{
										...formatLink(item, currentPath),
										"data-transition": "navLink",
									}}
									href={item.url}
									variant={item.external ? "link-gray-300" : "nav-gray-300"}
									icon={item.external ? "arrow" : ""}
								>
									{item.name}
								</Button>
							) : (
								<Text variant="bmd">{item.name}</Text>
							)}
						</li>
					))
				}
			</ul>
			<ul
				role="list"
				class="w-[50%] md:w-[30%] lg:w-auto flex flex-col gap-xsm md:gap-tiny items-start"
			>
				{
					nav.socials.map((social) => (
						<li>
							<Button
								attributes={{ target: "_blank" }}
								href={social.url}
								variant="link-gray-300"
								icon="arrow"
							>
								{social.name}
							</Button>
						</li>
					))
				}
			</ul>
		</nav>
		<div
			class="m-interactive hidden col-span-full lg:col-span-12 md:flex flex-col gap-sm items-start lg:items-end md:mt-xlg lg:mt-0"
		>
			<Text class="md:text-left lg:text-right max-w-[40rem]" variant="bmd"
				>Dans une optique d’éco-conception, le site est allégé par défaut. Et si
				on re découvrait le site avec un peu de piquant ?</Text
			>
			<Button
				variant="primary-gray-300"
				icon="arrow"
				href=`${currentPath}?interactions=1`
				attributes={{ "data-prevent": "true" }}>Ajouter des paillettes</Button
			>
		</div>
		<Text
			variant="thuge"
			class="col-span-full mt-lg mb-md md:mt-xlg md:mb-lg lg:mt-giant lg:mb-xlg"
			>Romain Breton</Text
		>
		<div
			class="col-span-full mb-xlg flex flex-col items-start gap-sm lg:flex-row lg:justify-between lg:items-center"
		>
			<p
				class="m-interactive hidden md:flex flex-wrap items-center gap-y-tiny gap-x-sm justify-center lg:justify-start"
			>
				<Button
					variant="primary-gray-300"
					icon="arrow"
					href="/experience"
					attributes={{ target: "_blank" }}
				>
					La quête
				</Button>
				<span
					class="w-[0.6rem] h-[0.8rem] flex flex-center items-center a-morse"
					data-experience="morse"
				>
				</span>
			</p>
			<ul
				role="list"
				class="flex flex-wrap gap-sm justify-start lg:justify-end"
			>
				{
					nav.footerSecondary.map((item) => {
						return item.url ? (
							<li>
								<Button
									attributes={{
										...formatLink(item, currentPath),
										"data-transition": "navLink",
									}}
									href={item.url}
									variant="link-gray-300"
									icon={item.external ? "arrow" : ""}
								>
									{item.name}
								</Button>
							</li>
						) : (
							<Text variant="bmd" Tag="li">
								{item.name}
							</Text>
						)
					})
				}
			</ul>
		</div>
		<Text
			class="col-span-full md:text-center max-w-[50rem] md:justify-self-center"
			variant="tag"
			>Visiter ce site consomme autant qu'un trajet de 10m en voiture. En
			moyenne un site consomme environ 1km en voiture.<br />Voir le calcul de <a
				href="https://www.websitecarbon.com/website/romain-breton-com/"
				class="underline focus:outline-2 focus:outline-gray-300 focus:outline-offset-2"
				target="_blank"
			>
				Website carbon
			</a> et <a
				href="https://www.ecoindex.fr/resultat/?id=66645cb9-ac7d-44ed-98ca-32c4ae0077ed"
				class="underline focus:outline-2 focus:outline-gray-300 focus:outline-offset-2"
				target="_blank"
			>
				Ecoindex
			</a></Text
		>
	</Grid>
</footer>
