---
import nav from '@content/nav'
import Text from '@components/atoms/text.astro'
import Grid from '@components/organisms/grid.astro'
---

<footer class="bg-gray-900 text-gray-300 py-xxlg">
  <Grid Tag="div" class="">
    <ul role="list" class="flex flex-col gap-tiny">
      {nav.footerPrimary.map(item => (
        <li><a href={item.url} target="_blank">{item.name}</a></li>
      ))}
    </ul>
    <ul role="list" class="flex flex-col gap-tiny">
      {nav.footerSecondary.map(item => (
        <li><a href={item.url} target="_blank">{item.name}</a></li>
      ))}
    </ul>
    <ul role="list" class="flex flex-col gap-tiny">
      {nav.socials.map(social => (
        <li><a href={social.url} target="_blank">{social.name}</a></li>
      ))}
    </ul>
    <Text variant="thuge" class="col-span-full">Romain Breton</Text>
    <ul role="list" class="flex gap-sm">
      {nav.footerThird.map(item => (
        <li><a href={item.url} target="_blank">{item.name}</a></li>
      ))}
    </ul>
  </Grid>
</footer>