---
import Text from "@components/atoms/text.astro"
import Grid from "@components/organisms/grid.astro"
import Button from "@components/atoms/button.astro"

export interface Props {
	title?: string
	description?: string
	suptitle?: string
	link?: {
		url: string
		label: string
		attributes?: Record<string, string>
	}
}

const { title = "", description = "", suptitle = "", link = null } = Astro.props
---

<Grid
	Tag="header"
	class="o-hero pt-[43rem] pb-[2rem] items-end relative z-index-1"
	attributes={{ "data-module-background": "bg" }}
>
	{
		suptitle || description ? (
			<div
				class="o-hero__content col-span-full md:col-span-16"
				data-transition="introHero:enter"
			>
				{suptitle ? (
					<Text variant="tsm" class="mb-tiny">
						{suptitle}
					</Text>
				) : null}
				{description ? (
					<Text variant="pmd" class="o-hero__content mb-sm md:mb-0">
						{description}
					</Text>
				) : null}
			</div>
		) : null
	}
	{
		link ? (
			<Button
				class="o-hero__content col-span-full md:col-span-8 justify-self-start md:justify-self-end order-3 md:order-2 relative z-1"
				icon="arrow"
				href={link.url}
				attributes={link.attributes}
			>
				{link.label}
			</Button>
		) : null
	}
	<Text
		variant="thuge"
		Tag="h1"
		attributes={{
			"data-module-hero": "heroTitle",
		}}
		class="col-span-full mb-sm md:mb-0 md:mt-sm md:order-2 -entered"
	>
		{
			title.split("").map((letter, index) => (
				<span
					data-hero="letter"
					class={letter === " " ? " -space" : ""}
					style={`--delay:${index * 0.05 + 0.5}s;`}
				>
					{letter === " " ? "\u00A0" : letter}
				</span>
			))
		}
	</Text>
</Grid>
